# direnv Configuration File
#
# This relies on an `.nvmrc` local file to determine which version of Node.js to
# install with the `nvm use` command.

NVMRC_FILE=~/.bashrc.d/nvm.bash

if [ -e ${NVMRC_FILE} ]; then
  source ${NVMRC_FILE}
  nvm use
else
  echo "Missing ${NVMRC_FILE} for nvm Setup!"
fi
